	.page--menu-page__background {
	  background-color: #333;
	}
	
	.page--menu-page__content {
	  color: white;
	}

	.menu-close,
	.menu-close > .toolbar-button {
	  color: #999;
	}

	.menu-item-header {
		background-color: #333;
		color: #A0A0A0;
	}

	.menu-list,
	.menu-item:first-child,
	.menu-item:last-child,
	.menu-item {
	  background-color: transparent;
	  background-image: none !important;
	  border-color: transparent;
	  color: #fff;
	}

	.menu-item {
	  padding: 0 0 0 20px;
	  line-height: 52px;
	  height: 52px;
	  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
	}

	.menu-item:active {
	  background-color: rgba(255, 255, 255, 0.1);
	}

	.menu-notification {
	  display: inline-block;
	  margin-top: 12px;
	  font-size: 14px;
	  height: 16px;
	  line-height: 16px;
	  min-width: 16px;
	  font-weight: 600;
	}

	.bottom-menu-list,
	.bottom-menu-item:first-child,
	.bottom-menu-item:last-child,
	.bottom-menu-item {
	  border-color: #393939;
	  background-color: transparent;
	  background-image: none !important;
	color: #ccc;
}

.notification {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  padding: 0 4px;
  width: auto;
  height: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background-color: #dc5236;
  color: #fff;
  text-align: center;
  font-size: 16px;
  min-width: 19px;
  line-height: 19px;
  font-weight: 400;
}

.bottom-menu-item:active {
	background-color: rgba(255, 255, 255, 0.1);
}

.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

ons-dialog p {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  width: 100%;
}


.list-item-note {
  position: absolute;
  right: 36px;
  top: 0px;
  font-size: 14px;
}

.list-item-note > .notification {
  margin-top: 12px;
}