<ons-navigator animation="slide" var="app.navi">
<ons-page ng-controller="NewsCtrl">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">ข่าวสาร/ประชาสัมพันธ์</div>
        <div class="right" ng-controller="loginCtrl" ng-if="!user">
            <ons-button modifier="quiet" ng-click="show('_login.html')">Login</ons-button>
        </div>
    </ons-toolbar>

    <ons-list>
        <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="data in datas" ng-click="detail(data.id)">
          <ons-row>
            <ons-col width="95px">
              <img src="{{data.imageUrl}}" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">{{data.title}}</div>
              <div class="location">
                <ons-icon icon="ion-android-contact"></ons-icon> Admin
              </div>
              <div class="desc">
                  {{data.content | limitTo:40}}...อ่านต่อ
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>
    </ons-list>

</ons-page>
</ons-navigator>