﻿<ons-navigator animation="slide" var="app.navi">
	<ons-page ng-controller="searching_exam">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="app.menu.toggleMenu()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
		<div class="center"><i class="fa fa-cloud-download"></i> ค้นหาข้อสอบ</div>
		</ons-toolbar>
		<div style="text-align: center">
			<h3>ระบบดาวน์โหลดข้อสอบ</h3>
			<p><ons-icon icon="fa fa-file-pdf-o" size="100px" fixed-width="false" style="color: red"></ons-icon>
			</p>
			
   			<p> <input type="search" placeholder="ค้นหาด้วย"class="search-input" ng-model="major"> </p>
			<ons-button modifier="large-cta" ng-click="searching(major)">ค้นหา</ons-button>
		</div>
	</ons-page>
</ons-navigator>