<ons-page modifier="menu-page" ng-controller="menuCtrl">
    <ons-toolbar modifier="transparent">
    	<div class="center" style="color: #808080; font-weight: bold">
            เมนูหลัก
        </div>
    </ons-toolbar>

    <ons-list class="menu-list">
    	<ons-list-header class="menu-item-header">
    		<ons-icon icon="fa fa-user"></ons-icon>
    		{{user.name}}
    	</ons-list-header>
        <ons-list-item class="menu-item" ng-click="gotoPage('logout')">
            ออกจากระบบ
        </ons-list-item>
    </ons-list>

	<p align="center">จัดการข้อมูลพื้นฐาน</p>

    <ons-list class="bottom-menu-list">
        <ons-list-item class="menu-item" ng-click="gotoPage('BookManage')">
            <i class="fa fa-list-alt"></i>
            BookManage
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="gotoPage('NewsManage')">
            <i class="fa fa-list-alt"></i>
            NewsManage
        </ons-list-item>
    </ons-list>
</ons-page>