<ons-page modifier="menu-page" ng-controller="menuCtrl">
    <ons-toolbar modifier="transparent">
        <div class="center" style="color: #808080; font-weight: bold">
            เมนูหลัก
        </div>
    </ons-toolbar>
      
    <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="gotoPage('index')">
            <ons-icon icon="ion-home"></ons-icon>
            News
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="gotoPage('searching')">
            <ons-icon icon="fa-search"></ons-icon>
            Book Searched
        </ons-list-item>
        <ons-list-item class="menu-item" ng-click="gotoPage('download_exam')">
            <i class="fa fa-cloud-download"></i> 
            Download Exam
        </ons-list-item>
    </ons-list>
    <br>
    <ons-list class="bottom-menu-list" ng-if="user">
        <ons-list-item class="bottom-menu-item" ng-click="gotoPage('user')">
            {{user.name}}
            <div class="notification menu-notification">3</div>
        </ons-list-item>
        <ons-list-item class="bottom-menu-item" ng-click="gotoPage('logout')">
            ออกจากระบบ
        </ons-list-item>
    </ons-list>
</ons-page>