<ons-page ng-controller="NewsDetailCtrl">
	<ons-toolbar>
		<div class="left">
			<ons-back-button></ons-back-button>
		</div>
		<div class="center">{{datas.title}}</div>
	</ons-toolbar>

	<ons-list>
	  	<ons-list-header style="padding: 5px;">
	  		<ons-row>
	  			<ons-col>
	  				โดย 
	  				<ons-icon icon="fa fa-user"></ons-icon> 
			  		Admin
			  	</ons-col>
			  	<ons-col width="100px" style="color: #808080">
			  		ดูแล้ว {{datas.viewsTotal}} ครั้ง
			  	</ons-col>
	  		</ons-row>
	  	</ons-list-header>
	  	<ons-list-item>
			<div align="center">
				<img src="{{datas.imageUrl}}" width="100%" />
			</div>
	  	</ons-list-item>
	  	<ons-list-item>
	  		<div style="padding: 10px;">
	  			{{datas.content}}
	  		</div>
	  	</ons-list-item>
	</ons-list>
</ons-page>