<ons-navigator animation="slide" var="app.navi">
	<ons-page style="background-color: #f0f0f0;" ng-controller="BookSearchingCtrl">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="app.menu.toggleMenu()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
		<div class="center"><i class="fa fa-search fa-fw"></i>สืบค้นหนังสือ</div>
		</ons-toolbar>
			<ons-row style="background-color: #ffffff;">
				<ons-col>
				<b>
				ชื่อหนังสือ
				</b>
				</ons-col>
				<ons-col>
				<b>
				ชื่อผู้แต่ง
				</b>
				</ons-col>
			</ons-row>
		<ons-list-item class="item" ng-repeat="data in datas">
			<ons-row>
				<ons-col>
					<p class="item-desc">
					{{data.bookName}}
					</p>
				</ons-col>
				<ons-col>
					<p class="item-desc">
					{{data.author}}
					</p>
				</ons-col>
			</ons-row>
		</ons-list-item>
	</ons-page>
</ons-navigator>