<ons-navigator animation="slide" var="app.navi">
	<ons-page style="background-color: #f0f0f0;" ng-controller="menuCtrl">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="app.menu.toggleMenu()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
			</div>
		<div class="center"><i class="fa fa-search fa-fw"></i>สืบค้นหนังสือ</div>
		</ons-toolbar>
		<div style="text-align: center">
			<h3>ระบบสืบค้นหนังสือออนไลน์</h3>
			<p> <ons-icon icon="fa-book" size="100px" align="center"></ons-icon> </p>
			<p> <ons-list ng-controller="DialogController">
					<ons-list-item ng-click="show('list.html')" modifier="tappable" align="center" ng-controller="SelectSearch">
     					{{sel}}
   					</ons-list-item>
   				</ons-list>
   			</p>
   			<p> <input type="search" class="search-input"> </p>
			<ons-button modifier="large" ng-click="gotoPage('result')">ค้นหา</ons-button>
		</div>
	</ons-page>
	
	<ons-template id="list.html">
  		<ons-dialog var="dialog" cancelable>
    		<ons-list ng-controller="SelectSearch" align="center">
      			<ons-list-item modifier="tappable" ng-click="Selected(1)">
        			ชื่อหนังสือ
      			</ons-list-item>
      			<ons-list-item modifier="tappable" ng-click="Selected(2)">
        			ชื่อผู้แต่ง
      			</ons-list-item>
      			<ons-list-item modifier="tappable" ng-click="Selected(3)">
        			แท็กหนังสือ
      			</ons-list-item>
    		</ons-list>
  		</ons-dialog>
	</ons-template>
</ons-navigator>