<ons-navigator animation="slide" var="app.navi">
<meta charset="utf-8">
<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">จัดการข้อมูลหนังสือ</div>
    </ons-toolbar>
    <ons-modal var="AddData">
			<ons-navigator title="Navigator" var="myNavigator">
    			<ons-page ng-controller="Bookmanage">
      				<ons-toolbar>
      					<div class="left"><ons-back-button onclick="AddData.hide()">Back</ons-back-button></div>
       					<div class="center"><b>เพิ่มข้อมูลหนังสือ</b></div>
      				</ons-toolbar>
      				<ons-list>
      					<p style="text-align:center"> <ons-icon icon="fa-book" size="68px"></ons-icon> </p>
      					<ons-list-header><b>ID</b></ons-list-header>
        				<ons-list-item>
          					<input type="text" placeholder="รหัสหนังสือ" name="id" ng-model="id" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
						<ons-list-header><b>Name</b></ons-list-header>
        				<ons-list-item>
          					<input type="text" placeholder="ชื่อหนังสือ" name="name" ng-model="name" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
        				<ons-list-header><b>Author</b></ons-list-header>
        				<ons-list-item>
          					<input type="text" placeholder="ชื่อผู้แต่ง" name="author" ng-model="author" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
						<ons-list-header><b>Number</b></ons-list-header>
        				<ons-list-item>
           					<input type="text" placeholder="จำนวนหนังสือ" name="number" ng-model="number" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
      				</ons-list>
      				<div class="content-padded">
        				<ons-button modifier="large"
                    		ng-click="add()">
          					<b><i class="fa fa-check-circle-o"></i> เพิ่มข้อมูล</b>
        				</ons-button>
      				</div>
    			</ons-page>
  			</ons-navigator>
		</ons-modal>
		<ons-modal var="ShowData">
			<ons-page ng-controller="Bookshow">
      				<ons-toolbar>
      					<div class="left"><ons-back-button onclick="ShowData.hide()">Back</ons-back-button></div>
       					<div class="center"><b>ข้อมูลหนังสือ</b></div>
      				</ons-toolbar>
      				<ons-list ng-repeat="book in datas">
      					<p style="text-align:center"> <ons-icon icon="fa-book" size="68px"></ons-icon> </p>
      					<ons-list-header><b>ID</b></ons-list-header>
        				<ons-list-item>
          					<input type="text" name="id" ng-model="book.bookid" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
						<ons-list-header><b>Name</b></ons-list-header>
        				<ons-list-item>
          					<input type="text" name="name" ng-model="book.name" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
        				<ons-list-header><b>Author</b></ons-list-header>
        				<ons-list-item>
          					<input type="text" name="author" ng-model="book.author" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
						<ons-list-header><b>Number</b></ons-list-header>
        				<ons-list-item>
           					<input type="text" name="number" ng-model="book.number" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        				</ons-list-item>
      				
      				<div class="content-padded">
        				<ons-button modifier="large"
                    		ng-click="edit(book.id,book.name,book.bookid,book.number,book.author)">
          					<b><i class="fa fa-check-circle-o"></i> ตกลง</b>
        				</ons-button>
      				</div>
      				</ons-list>
    			</ons-page>
		</ons-modal>
    <ons-list ng-controller="Bookshow">
    	<ons-list-header>
 		</ons-list-header>
			<button class="button button--large" onclick="AddData.show()"><i class="fa fa-plus-circle"></i> เพิ่มข้อมูล</button>
 		<ons-list-header>
 		</ons-list-header>
 			<ons-row style="background:#00CC00;color:white">
  			<ons-col width="15%" style="text-align:center;margin:5px"><b>รหัส</b></ons-col>
  			<ons-col width="40%" style="text-align:center;margin:5px"><b>ชื่อหนังสือ</b></ons-col>
  			<ons-col width="15%" style="text-align:center;margin:5px"><b>จำนวน</b></ons-col>
  			<ons-col width="15%" style="text-align:center;margin:5px"></ons-col>
		</ons-row>
		<ons-row style="background:#FFFACD" ng-repeat="book in datas">
  			<ons-col width="15%" style="text-align:center;margin:5px">{{book.bookid}}</ons-col>
  			<ons-col width="40%" style="text-align:center;margin:5px">{{book.name}}</ons-col>
  			<ons-col width="15%" style="text-align:center;margin:5px">{{book.number}}</ons-col>
  			<ons-col  style="text-align:center">
  				<button style="background:#0066FF;color:white" ng-click="find(book.id)"><i class="fa fa-search"></i></button><button style="background:#FF3300;color:white" ng-click="Delete(book.id)"><i class="fa fa-times"></i></button>
  			</ons-col>
		</ons-row>
 	</ons-list>

</ons-page>
</ons-navigator>