<ons-navigator var="myNav" animation="lift">
	<ons-page ng-controller="NewsCtrl">
		<ons-toolbar>
			<div class="left">
				<ons-toolbar-button ng-click="app.menu.toggle()">
	                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
	            </ons-toolbar-button>
			</div>
			<div class="center">จัดการข่าวสาร</div>
			<div class="right">
				<ons-toolbar-button ng-click="myNav.pushPage('add_news.html')">
					<ons-icon icon="fa fa-plus"></ons-icon>
				</ons-toolbar-button>
			</div>
		</ons-toolbar>

		<ons-list-header style="padding: 3px 10px 3px 10px;">
			<input placeholder="ค้นหา" ng-model="q" class="text-input" style="width: 100%">
		</ons-list-header>
        	<ons-list-item ng-repeat="data in datas | filter:q" ng-click="edit(data.id)" modifier="tappable chevron">
        		{{data.title}}
        		<span class="list-item-note">
		        	<span class="notification">{{data.viewsTotal}}</span>
		        </span>
        	</ons-list-item>
        </ons-list>
	</ons-page>
</ons-navigator>