<ons-dialog var="dialog" cancelable ng-controller="loginCtrl">
    <ons-toolbar inline>
        <div class="center">Login</div>
    </ons-toolbar>
    
    <p>
        <input placeholder="Username" ng-model="username" class="text-input">
    </p>
    <p>
        <input type="password" placeholder="Password" ng-model="password" class="text-input">
    </p>
    <p>
        <ons-button modifier="large" ng-click="login()">Login</ons-button>
    </p>
</ons-dialog>