<ons-page ng-controller="userCtrl">
	<ons-toolbar>
		<div class="left">
            <ons-toolbar-button ng-click="app.menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
		<div class="center">สวัสดี</div>
	</ons-toolbar>

	<div style="padding: 20px">
		<p>userName : {{user.userName}}</p>
		<p>name : {{user.name}}</p>
		<p>level : {{user.level}}</p>
	</div>
</ons-page>