<ons-page ng-controller="NewsManageCtrl">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button modifier="cta" onclick="myNav.popPage()">
				ยกเลิก
			</ons-toolbar-button>
		</div>
		<div class="center">สร้าง ข่าวใหม่</div>
		<div class="right">
			<ons-toolbar-button modifier="outline" ng-click="save()">
				บันทึก
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	
	<ons-list>
		<ons-list-item>
		    <input type="text" ng-model="title" placeholder="ชื่อเรื่อง" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
		</ons-list-item>

		<ons-list-item>
		    <input type="text" ng-model="imageUrl" placeholder="ที่อยูของภาพประกอบ" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
		</ons-list-item>

		<ons-list-item ng-if="imageUrl">
			<img src="{{imageUrl}}" width="100%" style="margin-top:8px;" />
		</ons-list-item>

		<ons-list-item>
		    <textarea ng-model="content" placeholder="รายละเอียด" class="text-input text-input--transparent" style="margin-top:8px; width: 100%; height: 200px;"></textarea>
		</ons-list-item>
   	</ons-list>
</ons-page>